{% extends 'services/services-layout.html.twig' %}
{% block lc_services_content %}


	<nav id="group-service-nav">
		<div class="row justify-content-md-center">
			<div class="col-md-4 col-12"><a href="#group-service-1"><span>Развивающий клуб</span> «Тайна третьей планеты» (ГКП)</a></div>
			<div class="col-md-4 col-12"><a href="#group-service-2">Курс продуктивных занятий «Летающая корова»</a></div>
			<div class="col-md-4 col-12"><a href="#group-service-3">Литературно-развивающий кружок «В 3\9 Царстве»</a></div>
			<div class="col-md-4 col-12"><a href="#group-service-4">Песочная терапия, арт-терапия</a></div>
			<div class="col-md-4 col-12"><a href="#group-service-5">Подготовка к школе</a></div>
		</div>
	</nav>

<!--BLOCK 1-->
<div class="section-body">
    <div class="group-service-block">
        <div class="row" id="group-service-1">
            <div class="col-md-6 col-sm-12 block-1">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 group-service-title">
                        <h3><span>Развивающий клуб</span> «Тайна третьей планеты» (ГКП)</h3>
                    </div>
                    <div class="col-sm-12 col-lg-4 price">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-child"></i> </span>3-4 года</li>
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>1-4 часа</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>100 р./час</li>
                        </ul>
                    </div>
                    <div class="col block-1-text">
                        <p>Клуб рассчитан для малышей от 2,5 лет и детей дошкольного возраста, которые не посещают детский сад. В клубе с логопедическим сопровождением дети поучаствуют в различных видах деятельности, включающие в себя: рисование, лепку, аппликацию, подвижные игры, сюжетно-ролевые игры, чтение, театрализацию сказок, пальчиковую гимнастику и многое-многое другое. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  block-2">
                <p><span>Основные задачи работы клуба:</span><br>
                    <ul>
                        <li>обеспечение социализации детей;</li>
                        <li>развитие навыков коммуникации, умения слушать и слышать, вести диалог;</li>
                        <li>формирование представлений об окружающем мире;</li>
                        <li>развитие ВПФ (памяти, внимания, мышления и пр.);</li>
                        <li>развитие речи посредством изучения сказок, проведения тематических неделек;</li>
                        <li>развитие творческих способностей, ручной моторики;</li>
                        <li>развитие общей моторики, стимуляция деятельности вестибулярного аппарата, развитие равновесия и пр.;</li>
                        <li>нравственное и эстетическое воспитание.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-sm-12  block-3">
                <p>Отвечают за порядок и досуговую программу в клубе опытные педагоги и психологи, которые чередуют развивающие тематические занятия с другими блоками:
                    <ul>
                        <li>физкультура с элементами ЛФК;</li>
                        <li>логоритмика;</li>
                        <li>ролевые и подвижные игры;</li>
                        <li>пальчиковые игры;</li>
                        <li>дидактические игры и упражнения;</li>
                        <li>продуктивные виды деятельности (рисование, лепка, аппликация);</li>
                        <li>конструирование;</li>
                        <li>кукольный театр (пальчиковый, перчаточный, бумажный, деревянный);</li>
                        <li>сказкотерапия;</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-sm-12  block-4">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <!--BLOCK 2-->

    <div class="group-service-block">
        <div class="row" id="group-service-2">
            <div class="col-md-6 col-sm-12 block-1">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 group-service-title">
                        <h3><span>Курс продуктивных занятий</span> «Летающая корова»</h3>
                    </div>
                    <div class="col-sm-12 col-lg-4 price">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-child"></i> </span>от 4 лет</li>
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>45 мин.</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>250 р./200 р<span class="asterisk">*</span></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Пластилиновая живопись (вид изобразительного творчества, позволяющий создавать картины пластилином на твердой основе) 2 раза в неделю;</li>
                            <li>Песчаная живопись (рисование цветным песком) 2 раза в неделю;</li>
                            <li>Чудо-поделки (конструирование и изготовление поделок из нетрадиционного материала) 1 раз в неделю.</li>
                        </ul>
                    </div>
                    <p class="col-12 foot-note"><span class="asterisk">*</span>Цена при покупке абонемента от 4 занятий</p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 block-2"></div>
            <div class="col-md-6 col-sm-12 block-3"></div>
            <div class="col-md-6 col-sm-12 block-4">
                <p><span>Во время этих занятий Ваш ребенок:</span>
                    <ul>
                        <li>реализует познавательную способность;</li>
                        <li>натренирует пальцевую моторику, которая в свою очередь влияет на развитие речевого аппарата ребенка; </li>
                        <li>разовьёт тактильную чувствительность, образное мышление;</li>
                        <li>улучшит координацию движений, зрительно-пространственное восприятие;</li>
                        <li>приобретет новые знания об окружающем мире;</li>
                        <li>увеличит словарный запас;</li>
                        <li>раскроет творческие способности;</li>
                        <li>научится видеть прекрасное в простых вещах;</li>
                        <li>станет более усидчивым, внимательным, сосредоточенным, аккуратным;</li>
                        <li>научится доводить начатое до конца!</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

	<!--BLOCK 3-->

    <div class="group-service-block">
        <div class="row" id="group-service-3"> 
            <div class="col-md-6 col-sm-12 block-1">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 group-service-title">
                        <h3><span>Литературно-развивающий кружок </span> «В 3\9 Царстве»</h3>
                    </div>
                    <div class="col-sm-12 col-lg-4 price">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-child"></i> </span>4-5 лет</li>
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>60 мин.</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>350 р./300 р.<span class="asterisk">*</span></li>
                        </ul>
                    </div>
                    <div class="col">
                        <p>Сказки нужны всем, а тем более детям! В любом возрасте чтение сказок принесет ребёнку неоценимую пользу.
                            Через сказку ребенок познает мир, понимает, как правильно поступать в той или иной ситуации, учится доброте, формирует нравственные качества. Для этого нужно обсуждать прочитанное с малышом, анализировать, использовать в творчестве.</p>
                    </div>
                    <p class="col-12 foot-note"><span class="asterisk">*</span>Цена при покупке абонемента от 4 занятий</p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 block-2">
                <p><span>Во время этих занятий Ваш ребенок:</span>
                    <ul>
                        <li>изучит понятие сказки, ее особенности;</li>
                        <li>в игровой форме познакомится с русскими народными сказками, а также со сказками разных авторов;</li>
                        <li>усовершенствует диалогическую и монологическую форму общения, грамматический строй речи, пополнит словарный запас;</li>
                        <li>научится понимать скрытый посыл сказок, видеть причинно-следственные связи и делать выводы; </li>
                        <li>разовьёт нравственные качества, научится не бояться трудностей;</li>
                        <li>разовьет любовь и тягу к книгам.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-sm-12 block-3">
                <p><span>Занятия включают в себя:</span>
                    <ol>
                        <li>Знакомство с автором произведения;</li>
                        <li>Прочтение сказки разными способами (выразительное чтение, кукольный или пальчиковый театр, сюжетные картинки и пр.); </li>
                        <li>Обсуждение сказки (хорошие герои всегда трудолюбивы, смелы и честны. Идентифицируя себя с ними, ребенок перенимает высокие нравственные качества, учится находить правильные решения, думать позитивно); </li>
                        <li>Знакомство с незнакомыми словами (тренируется артикуляционный аппарат и обогащается словарный запас; развивается культура речи);</li>
                        <li>Знакомство с пословицами, загадками и поговорками;</li>
                        <li>Игры на развитие памяти, внимания, мышления, воображения, речи;</li>
                        <li>Поделки из бумаги, пластилина и других материалов;</li>
                    </ol>
                </p>
            </div>
            <div class="col-md-6 col-sm-12  block-4"></div>
        </div>
    </div>

	<!--BLOCK 4-->

    <div class="group-service-block">
        <div class="row" id="group-service-4">
            <div class="col-md-6 col-sm-12 block-1">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 group-service-title">
                        <h3><span>Песочная терапия</span><br> арт-терапия</h3>
                    </div>
                    <div class="col-sm-12 col-lg-4 price">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-child"></i> </span>от 3 лет</li>
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>40 мин.</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>350 р./250 р.<span class="asterisk">*</span></li>
                        </ul>
                    </div>
                    <div class="col">
                        <p>Песок - прекрасный природный материал! Каждый малыш обожает возиться с песком, пересыпать его, прятать и находить в нем игрушки, рисовать... Это веселое занятие способно повлиять на психологическое состояние ребёнка, помочь ему с саморазвитием. <br>⠀
                        Песочная терапия - это способ общения с миром, с самим собой. ⠀
                        </p>
                    </div> 
                    <p class="col-12 foot-note"><span class="asterisk">*</span>Цена при покупке абонемента от 4 занятий</p>
                </div>
               
            </div>
            <div class="col-md-6 col-sm-12 block-2"></div>
            <div class="col-md-6 col-sm-12 block-3"></div>
            <div class="col-md-6 col-sm-12 block-4">
                <p>
                    Песочную терапию можно рекомендовать, если ребёнок:
                    <ul>
                        <li>замкнут;</li>
                        <li>чрезмерно застенчив;</li>
                        <li>имеет явные комплексы;</li>
                        <li>испытывает трудности с коммуникацией;</li>
                        <li>не может найти общий язык со сверстниками;</li>
                        <li>неусидчив (имеет диагноз СДВГ);</li>
                        <li>имеет проблемы с запоминанием;</li>
                        <li>имеет проблемы с речью.</li>
                    </ul>
                    Песочная терапия - это прекрасная возможность для самовыражения, развития творческого потенциала ребенка, действенный способ научиться выражать свои чувства, эмоции и переживания.
                </p>
            </div>
        </div>
    </div>

	<!--BLOCK 5-->

    <div class="group-service-block">
        <div class="row" id="group-service-5">
            <div class="col-md-6 col-sm-12 block-1">
                <div class="row">
                    <div class="col-sm-12 col-lg-8 group-service-title">
                        <h3><span>Подготовка к школе</span><br> (1 и 2 ступень)</h3>
                    </div>
                    <div class="col-sm-12 col-lg-4 price">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-child"></i> </span>4-7 лет</li>
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>1 час 20 минут</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>350 р./300 р.<span class="asterisk">*</span></li>
                        </ul>
                    </div>
                    <div class="col">
                        В программах для детей 5-6 и 6-7 лет используется комбинированный подход, то есть сочетание в процессе занятия элементов традиционного, классического обучения и современных прогрессивных методик, разнообразных приемов, которые задействуют у ребенка как можно больше каналов восприятия информации, что помогает ему легче и быстрее усваивать материал, развивает учебную мотивацию, инициативность, самосознание. 
                        <ul>
                        	<li>Группы формируются не по возрасту, а по умениям и навыкам Вашего ребенка.</li>
                        	<li>Наполняемость не более 8-10 человек.</li>
                        	<li>Режим занятий: 2 раза в неделю.</li>
                        	<li>В стоимость занятий входят все учебные материалы и пособия.</li>
                        </ul>

                    </div>
                    <p class="col-12 foot-note"><span class="asterisk">*</span>Цена при покупке абонемента от 4 занятий</p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 block-2">
            	<p><span>Курс включает в себя 2 основных блока:</span>
            		<ol>
            		<!--I. II.-->
 						<li>Знакомство с окружающим миром (изучение лексических тем, развитие речи)</li>
            			<li>Обучение грамоте (математика, чтение, письмо, логика)</li>
            		</ol>
					На развивающих занятиях по подготовке к школе используются элементы таких основных направлений и методик, как:
					<ul>
						<li>ТРИЗ-технология (технология развития творческих способностей детей, критического мышления);</li>
						<li>Психогимнастика (невербальный метод, средство развития и формирования эмоционального благополучия детей);</li>
						<li>Кинезиология (развитие головного мозга – работы обоих полушарий -  через движение);</li>
						<li>Логоритмика (музыкальные упражнения, задания, игры, направленные на коррекцию и профилактику имеющихся отклонений в развитии речи ребёнка)</li>
						<li>Сенсорной интеграции (стимуляция работы всех органов чувств) и пр. </li>
					</ul>
            	</p>
            </div>
            <div class="col-md-6 col-sm-12 block-3">
            	<p>
            		<span>После посещения наших занятий Ваш дошколёнок:</span>
            		<ul>
            			<li>Будет иметь существенный запас знаний об окружающем мире;</li>
            			<li>Разовьёт навыки чтения и письма;</li>
            			<li>Научится сравнивать, рассуждать, делиться своим мнением, делать выводы и умозаключения;</li>
            			<li>Научится работать в коллективе: в группах, подгруппах, парах;</li>
            			<li>Сформирует правильное поведение будущего школьника;</li>
            			<li>Научится добывать знания различными способами;</li>
            			<li>С удовольствием пойдет в школу!</li>
            		</ul>

            	</p>
            </div>
            <div class="col-md-6 col-sm-12 block-4"></div>
        </div>
    </div>
</div>
{% endblock %}