{% extends 'services/services-layout.html.twig' %}
{% block lc_services_content %}
<section id="particular-1">
    <div class="section-title">
        <img src="{{ asset('build/images/homepage/plume.png') }}">
        <h2> Индивидуальные занятия <br><span>c логопедом</span> </h2>
        <p><em>для взрослых и детей</em></p>
    </div>
    <div class="section-body">
        <div class="row service-1">
            <div class="col-sm-12 col-md-5">
                <img src="{{ asset('build/images/services/img1.jpg') }}" alt="Алиса смотрит в зеркало">
            </div>
            <div class="col-sm-12 col-md-7">
                <p>
                    <p class="mini-title">Примерный план занятия наших логопедов (зависит от возраста, диагноза, индивидуальных особенностей обучаемого):</p>
                    <ol>
                        <li>Логопедический зондовый массаж</li>
                        <li>Артикуляционная гимнастика </li>
                        <li>Дыхательная гимнастика</li>
                        <li>Пальчиковая гимнастика</li>
                        <li>Работа над звуком (постановка звука; автоматизация звука в слогах, словах, предложениях)</li>
                        <li>Развитие речи (лексика, грамматика, фонетика) </li>
                        <li>Всестороннее развитие личности (память, внимание, мышление, воображение)</li>
                        <li>Продуктивная деятельность (лепка, аппликация и пр.) для детей младшего дошкольного возраста. Развитие мелкой моторики, формирование графомоторных навыков, подготовка руки к письму – для детей среднего и старшего дошкольного возраста.</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5">
                <p class="mini-title">Что приобретет Ваш ребенок на наших занятиях:</p>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Четкую, богатую речь</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Широкий кругозор </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Самодостаточность </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Ответственность</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Уверенность в себе </li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Любовь к учебе и многое другое!</li>
                </ul>
                <p> Ждем малышей от 2 лет, детей и взрослых! </p>
            </div>
            <div class="col-12 col-md-7 price-block">
                <div class="row">
                    <div class="col-12 col-md-4 price">
                        <p>Первичная диагностика</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span> 45-60 мин.</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>500 р.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 price">
                        <p>Занятие с логопедом</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"> <i class="far fa-clock"></i></span> 45 мин.</li>
                            <li><span class="fa-li"> <i class="fas fa-ruble-sign"></i></span> 550 р./500 р.<span class="asterisk">*</span></li>
                        </ul>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-md-4 price">
                        <p>Единоразовая консультация</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>45 мин.</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>500 р.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 price">
                        <p>Обучение русскому языку иностранных граждан</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="far fa-clock"></i> </span>45 мин.</li>
                            <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>500 р.</li>
                        </ul>
                    </div>
                </div>
                <p class="foot-note"><span class="asterisk">*</span>Цена при покупке абонемента от 4 занятий</p>
            </div>
        </div>
    </div>
</section>
<section id="particular-2">
    <div class="section-title">
        <img src="{{ asset('build/images/homepage/plume.png') }}">
        <h2> Индивидуальные занятия <br><span>c психологом</span> </h2>
    </div>
    <div class="section-body">
        <div class="row service-2">
            <div class="col-sm-12 col-md-8">
                <p><span class="mini-title">Наши психологи</span> работают с детьми при тяжелой адаптации к новым условиям, с чувствами страха, тревожности, агрессии. Занимаются развитием эмоционального интеллекта и познавательной сферы у детей дошкольного возраста.</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <span class="mini-title">Если у Вашего малыша:</span>
                        <ul>
                            <li>агрессивное и импульсивное поведение</li>
                            <li>капризы и истерики</li>
                            <li>повышенная тревожность</li>
                            <li>робость и застенчивость</li>
                            <li>упрямство</li>
                            <li>обидчивость</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <ul>
                            <li>страхи</li>
                            <li>неусидчивость</li>
                            <li>плохая работа в классе при отличной работе дома</li>
                            <li>невнимательность</li>
                            <li>проблемы общения со сверстниками</li>
                            <li>нарушения в развитии познавательных </li>
                        </ul>
                    </div>
                </div>
                <p>То Вам рекомендуется прийти на консультацию к психологу! Когда есть проблема – её надо решать!</p>
            </div>
            <div class="col-sm-12 col-md-4">
            	<img src="{{ asset('build/images/services/img2.jpg') }}" alt="Громосека и профессор Селезнев">
            </div>
        </div>
        <div class="row price-block">
            <div class="col-12 col-md-3 price">
                <p>Первичная диагностика</p>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="far fa-clock"></i> </span> 45-60 мин.</li>
                    <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>500 р.</li>
                </ul>
            </div>
            <div class="col-12 col-md-3 price">
                <p>Занятие с психологом</p>
                <ul class="fa-ul">
                    <li><span class="fa-li"> <i class="far fa-clock"></i></span> 45 мин.</li>
                    <li><span class="fa-li"> <i class="fas fa-ruble-sign"></i></span> 550 р./500 р.<span class="asterisk">*</span></li>
                </ul>
            </div>
            
            <div class="col-12 col-md-3 price">
                <p>Единоразовая консультация</p>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="far fa-clock"></i> </span>45 мин.</li>
                    <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>500 р.</li>
                </ul>
            </div>
            <div class="col-12 col-md-3 price">
                <p id="long-line">Телесно-ориентированная терапия (для взрослых и детей)</p>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="far fa-clock"></i> </span>30-90 мин.</li>
                    <li><span class="fa-li"><i class="fas fa-ruble-sign"></i> </span>500-1000 р.</li>
                </ul>
            </div> 
           
        </div>
        <p class="foot-note"><span class="asterisk">*</span>Цена при покупке абонемента от 4 занятий</p>
    </div>
</section>
{% endblock %}